body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(214, 200, 174);
    padding: 0 10px;
    font-family: 'Roboto';
}

.presentation {
    width: 100%;
    height: 20%;
}

.presentation h1 {
    letter-spacing: 4px;
}

.lyrics-area {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lyrics-area textarea {
    width: 40%;
    height: 80%;
    resize: none;
    margin-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: .1rem;
}

.convert {
    width: 150px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    background-color: rgb(141, 166, 185);
}