<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script defer src="../../common/textUtil.js"></script>
        <script defer src="../../service/lyricsGroupService.js"></script>
        <script defer src="../../service/lyricsConverterService.js" type="text/javascript"></script>
        <script defer src="./lyricsConverterApplication.js" type="text/javascript"></script> 
        <script defer src="./lyricsStrophes.js" type="text/javascript"></script> 
        <script defer src="./modal.js" type="text/javascript"></script> 
        <script src="../../service/musicFetcherService.js" type="text/javascript"></script>
        <title>QuintaLyrics</title>
        <link rel="icon" type="image/x-icon" href="../../assets/logo/song-lyrics.ico">
        <link rel="stylesheet" href="home.css">
        <link rel="stylesheet" href="modal.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a6313fba55.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="presentation">
            <h1>QuintaLyrics</h1>
        </div>

        <div class="lyrics-area">
            <div class="lyrics">
                <textarea 
                id="lyrics"
                cols="50" 
                placeholder="Insira a letra aqui."
                onkeyup="manageContentVisibility()"
                rows="40"></textarea>

                <div class="conversion-options">
                    <button class="dependent-on-input action-button see-strophes" onclick="visualizeStrophes()"><i class="fa-solid fa-font"></i> Estrofes</button>
                    <button id="transform" class="dependent-on-input action-button convert" onclick="format()">Formatar <i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>

            <div id="strophes-panel" class="secondary-panel strophes-panel">
                <div id="strophes" class="strophes">

                </div>
            </div>
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Letra</h2>
                    <span class="close">&times;</span>
                </div>
                <div id="transformed-lyrics-body" class="modal-body">
                </div>
                <div class="modal-footer">
                    <div class="options">
                        <button id="copy-to-clipboard" onclick="copyToClipboard()">
                            <i class="fa-solid fa-copy"></i> 
                            <span>Copiar</span>
                        </button>
                    </div>
                </div>
              </div>
        </div>
       
       <script> 
            var params = new URLSearchParams(window.location.search)
            var link = params.get("ref")
            if (link && link.trim().length > 0) {
                fetchLyric(link)
            }
        </script>
    </body>
</html>