body {
    overflow-x: hidden;
    background-color: rgb(218, 218, 218);
    font-family: 'Roboto';
    margin: 0;
}

.presentation {
    background-color: #006b37;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 0 1px 4.5px rgba(3, 188, 99, 0.4);
    margin-bottom: 1%;
}

.presentation h1 {
    color: #f1f1f1;
    letter-spacing: 3px;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
}

.presentation p {
    color: #f1f1f1;
    margin: 0;
}

.lyrics-area {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.lyrics {
    width: 50%;
}

.lyrics-area textarea {
    width: 90%;
    height: 80%;
    resize: none;
    margin-bottom: .1em;
    background-color: #c0c0c0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: .1rem;
    border: 2px solid rgb(52, 63, 71);
    border-radius: 2px;
    padding: 4px;
}

.action-button {
    width: 150px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
}

.convert {
    background-color: #006b37;
    color: aliceblue;
    box-shadow: 1px 1px 5px #004F29;
}

.convert:hover {
    background-color: #068346;
}

.see-strophes {
    background-color: #ffb554;
}

.see-strophes:hover {
    background-color: #fdb95f;
}

.action-button:hover {
    transition: 15ms;
}

.secondary-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: center;
    align-items: start;
}

.strophes-panel {
    display: none;
}

.converted-text textarea {
    height: 80%;
    resize: none;
    border: 2px solid rgb(52, 63, 71);
    border-radius: 2px;
    background-color: #c0c0c0;
    font-weight: bolder;
    font-size: 1rem;
    padding: 4px;
    color: rgb(0, 0, 0);
}

.lyrics-converted-sucess {
    border: 2px solid #006b37 !important;
}


.conversion-options {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.options {
    width: 100%;
    margin-top: .1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#copy-to-clipboard {
    display: none;
    width: 150px;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    border: 1px solid #006b37;
    background-color: transparent;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    background-color: #006b37;
    color: aliceblue;
    box-shadow: 1px 1px 5px #004F29;
}

#copy-to-clipboard i {
    font-size: 1.5rem;
}

#copy-to-clipboard span {
    margin-left: .2rem;
    font-size: 1rem;
    text-align: center;
}

#copy-to-clipboard:hover  {
    color: #a8a8a8;
}

#copy-to-clipboard.clicked {
    background-color: rgb(143, 195, 255);
}

/*@see: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp  */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(52, 63, 71);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(98, 116, 129);
}